<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DjangoGramm</title>
</head>
<body>
    <div class="container login-container">
        <div class="login-box">
            <h1>DjangoGramm</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.email_or_username.label_tag }}
                    {{ form.email_or_username }}
                </div>
                <div class="form-group">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </div>
        <div class="signup-box">
            <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
        </div>
    </div>
</body>
</html>