{% extends "base_authorised.html" %}
{% load static %}
{% load humanize %}
{% block title %}Posts{% endblock %}
{% block sub_css_files %}
    <link href="{% static 'feed/home.css' %}" rel="stylesheet">
{% endblock %}
{% block sub_content %}
    <div class="content">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    {% for object in object_list %}
                        <div class="post">
                            <div class="post-header">
                                <div class="author-info">
                                    {% if object.user.avatar %}
                                        <a href="{% url 'profile' pk=object.user.username %}">
                                            <img src="{{ object.user.avatar.url }}" alt="{{ object.user.username }}" class="rounded-circle mr-2" style="width: 32px; height: 32px;">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'profile' pk=object.user.username %}">
                                            <img src="{% static 'feed/images/default.png' %}" alt="{{ object.user.name }}" class="rounded-circle mr-2" style="width: 32px; height: 32px;">
                                        </a>
                                    {% endif %}
                                    <strong><a href="{% url 'profile' pk=object.user.username %}">{{ object.user.username }}</a></strong>
                                </div>
                                <div class="post-time">
                                    <a href="{% url 'post' pk=object.pk %}">{{ object.created|naturaltime }}</a>
                                </div>
                            </div>
                            <img src="{{ object.photos.first.image.url }}" alt="Post Image" class="post-image">
                            <div class="post-body">
                                <p>{{ object.description }}</p>
                            </div>
                            <div class="post-footer">
                                <p>{{ object.like_set.count }} likes</p>
                                <h6>Comments</h6>
                                {% for comment in object.comment_set.all %}
                                    <div class="d-flex align-items-start mb-2">
                                        <a href="{% url 'profile' pk=comment.user.username %}">
                                            <img src="{{ comment.user.avatar.url }}" alt="{{ comment.user.username }}" class="rounded-circle mr-2" style="width: 24px; height: 24px;">
                                        </a>
                                        <div>
                                            <strong><a href="{% url 'profile' pk=comment.user.username %}">{{ comment.user.username }}</a></strong>
                                            <p class="mb-0">{{ comment.content }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% if user.is_authenticated %}
                                    <form method="post" action="{% url 'comment' pk=object.pk %}" class="comment-form">
                                        {% csrf_token %}
                                        {{ comment_form.as_p }}
                                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    {% empty %}
                        <p>No posts yet.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

