{% extends "base_authorised.html" %}
{% load static %}
{% block title %}Post{% endblock %}
{% block sub_css_files %}
    <link rel="stylesheet" href="{% static 'feed/post.css' %}">
{% endblock %}
{% block sub_content %}
    <div class="content">
        <div class="post-container">
            <div class="post-left">
                <!-- Display Photos -->
                {% for photo in object.photos.all %}
                    <img src="{{ photo.image.url }}" alt="Post Image" class="post-image">
                {% endfor %}
            </div>
            <div class="post-right">
                <div class="post-header">
                    <img src="{% if object.user.avatar %}{{ object.user.avatar.url }}{% else %}{% static 'feed/images/default.png' %}{% endif %}" alt="Avatar" class="avatar">
                    <h5 class="username"><a href="{% url 'profile' pk=object.user.username %}">{{ object.user.username }}</a></h5>
                </div>
                <p>{{ object.description }}</p>
                <!-- Display Comments -->
                <h6>Comments</h6>
                <ul class="comment-list">
                    {% for comment in object.comment_set.all %}
                        <li class="comment-item">
                            <img src="{{ comment.user.avatar.url }}" alt="Avatar" class="comment-avatar">
                            <span class="comment-username"><a href="{% url 'profile' pk=comment.user.username %}">{{ comment.user.username }}</a>:</span>
                            <span>{{ comment.content }}</span>
                        </li>
                    {% endfor %}
                </ul>
                <!-- Display Likes -->
                <div class="likes">{{ object.like_set.count }} likes</div>
                <!-- Display Comment Form -->
                <form method="post" action="{% url 'comment' pk=object.pk %}" class="add-comment-form">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <button type="submit" class="btn btn-primary add-comment-btn">Add Comment</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}